*{
    @apply m-0 p-0 box-border
}

.app{
    font-style: open sans;
    @apply w-screen lg:h-screen h-[109vh] bg-[url('/Media/Background.gif')] bg-cover lg:overflow-hidden text-white
}

.pageInput{
    @apply lg:w-[25rem] lg:p-[0.7rem] lg:px-[] px-[0.5rem] w-[13rem] p-[0.2rem] rounded-full m-auto focus:outline-none placeholder:p-[0.5rem] mb-[0.5rem]
}

.container{
    @apply w-[65vw] h-[auto] lg:p-[2rem] 
}

.info-box{
    box-shadow: 0 3px 6px black;
    @apply flex flex-col lg:w-[27%] lg:h-[max-content] h-[85vh] justify-between  rounded-lg px-[2.5rem] py-[2rem] lg:mb-[] mb-[1.8rem]
}

.desc{
    @apply text-center lg:text-3xl text-2xl
}

.weatherInput{
    @apply lg:w-[20rem] w-[10rem] lg:p-[0.5rem] lg:px-[] px-[0.5rem] rounded-full focus:outline-none placeholder:p-[0.3rem]
}

.weatherInfo{
    @apply lg:w-[22.5rem] lg:py-[] py-[0.5rem] flex lg:flex-wrap text-center lg:px-[3.5rem] px-[0.5rem] justify-between lg:gap-8 lg:bg-transparent bg-[#a79c9c86] rounded-lg
}

.weatherInfo img{
    @apply lg:w-[2.5rem] w-[1.5rem] m-auto
}

.weatherInfo div p{
    @apply text-[1rem]
}

.weatherInfo div p span {
    @apply text-[1rem]
}

main{
    @apply lg:flex lg:gap-10
}

.statBoxes{
    @apply lg:w-[67vw] w-[90vw] h-[auto] lg:flex lg:flex-wrap my-[1rem] lg:gap-7 
}

.statBox{
    box-shadow: 0 3px 6px black;
    @apply lg:w-[11vw] w-[90vw] lg:h-[23vh] border border-black rounded-2xl text-center py-[0.4rem] flex lg:flex-col justify-between lg:mb-[] mb-[0.3rem] lg:px-[] px-[0.5rem] lg:bg-[transparent] bg-[#33338d]
}

.statBox h1{
  @apply text-[1.2rem]
}